<div class="jobs-section">
    <div class="jobs-container row">
      <% job.forEach(j =>{ %>
      <div class="jobs-card">
        <div class="card-body">
          <span hidden><%= j.id %></span>
          <p class="active-hiring">Actively Hiring</p>
          <h4 class="card-title"><%= j.name %></h4>
          <p class="card-text category"><%= j.category %> <span class="tech"><%=j.tech %></span></p>
          <h6 class="card-location"><img src="../../images/map.png"><%=j.location %></h6>
          <p class="card-text"><img src="../../images/rupee.png"><%=j.salary %> LPA</p>
  
          <!-- <% j.skills?.forEach(skill =>{ %>
          <button type="button" class="btn btn-outline-primary btn-sm">
            <%= skill %>
          </button> -->
          <% }) %>
          <a
          href="/details/<%= job.id %>" 
            class="btn btn-outline-success"
            style="
              --bs-btn-padding-y: 0.3rem;
              --bs-btn-padding-x: 5.8rem;
              --bs-btn-font-size: 1rem;
            "
          >
            View Details
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  